.add {
  cursor: url(../../images/cursors/icon-add.png) 8 8, auto;
}
.paint {
  cursor: url(../../images/cursors/icon-paint.png) 8 8, auto;
}
.dropper {
  cursor: url(../../images/cursors/icon-dropper.png) 8 8, auto;
}
.delete {
  cursor: url(../../images/cursors/icon-delete.png) 8 8, auto;
}
.rotate {
  cursor: url(../../images/cursors/icon-rotate.png) 8 8, auto;
}
