.parts-page {
  &-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3.2rem 2.8rem;

    &__left {
      display: flex;
      align-items: center;

      > * {
        margin: 0 1rem;
      }
    }

    &__name {
      font-size: 2.5rem;
    }
  }

  &__bom {
    table {
      border-collapse: collapse;
    }
    th {
      text-align: left;
    }

    td,
    th {
      white-space: nowrap;
      padding: 1rem 0;
    }

    td {
      border-bottom: 1px solid #555;
    }
    th {
      border-bottom: 1px solid #999;
    }
  }
}
